
.header {
    color: #fff;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.header .cursor {
    cursor: pointer;
}

.header__user {
    width: 100%;
    position: relative;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userImage__wrap {
    width: 2rem;
    height: 2rem;
    border-radius: 0.9rem;
    background-color: #5015bf;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.userImage__wrap:only-child {
    z-index: 1;
    color: #fff;
}

.userImage__status {
    position: absolute;
    right: 0.1rem;
    bottom: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 10px;
    background-color: #7bc043;
}

.userMenu {
    width: 20rem;
    height: auto;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.userThumb {
    width: 100%;
    display: flex;
    position: relative;
}

.userMenu__box {
    width: 100%;
    display: flex;
    padding-left: 1rem;
    align-items: center;
    min-height: 5rem;
    border-bottom: 1px solid gray;
}